.sec2 {
    padding: 100px 7%;
}
.f_sub{
    text-align: center;
}
.f_sub_title{
    font-size: 50px;
    font-size: 50px;
    margin: 30px 0 ;
}
#f_sub1 > .f_sub_title{
    margin: 30px auto 120px;
}
.f_sub1_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.f_sub_content_box{
    width: calc(100% / 4);
    height: 280px;
    box-sizing: border-box;
}
.f_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: #F4F3F1;
    border-radius: 20px 50% 50% 50%;
}
.f_box_number{
    position: absolute;
    left: 0.3rem;
    top: 0;
    font-size: 34px;
    color: #fff;
}
.sub1_main_title{
    font-size: 21px;
    text-align: center;
    color: #84694e;
    margin-bottom: 1rem!important;
}
.GRAND_OPEN{
    color: #0dcaf0!important;
    font-weight: 800;
    font-size: 25px;
}
.sub1_sub_title1, .sub1_sub_title2{
    color: #666;
}
#f_sub1, #f_sub2{
    margin-bottom: 150px;
}
.f_sub_title ~ p{
    color: #666;
    margin: 30px 0 65px;
}
.f_sub2_img{
    width: 65%;
    margin-right: auto!important;
    margin-left: auto!important;
}
.f_sub3_content{
    display: flex ;
    align-items: flex-end;
    padding: 0 30px;
    box-sizing: border-box;
}
.sub3_img_title{
    font-size: 20px;
    font-weight: 900;
    margin: 20px 0 ;
}
.f_sub3_txt_box{
    margin: 50px 0 ;
    width: 100%;
    position: relative;
    padding: 2rem 2rem;
    border: 2px dashed #aaa;
    border-radius: 30px;
    margin-left: 150px;
    height: 110px;
}
.sub3_txt{
    
    color: #666;
    font-size: 17px;
    text-align: left;
}
.sub3_txt_title{
    text-align: right;
    font-size: 24px;
    color: #111;
}