.video_wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    min-width: 1920px;
    min-height: 100vh;
    pointer-events: none;
    transform: scale(1.2);
    text-align: center;
    -webkit-transform: translate(-50%, 0) scale(1.2);
    transform: translate(-50%, 0) scale(1.2);
    filter: brightness(80%);
}
.main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.main_title{
    position: absolute;    
    top: 33.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;}
.main_title p {
    color: white;
}
.m_title1{
    font-size: 60px;
}
.m_title2{
    font-size: 24px;
    margin-top: 25px;
}
.main_nav{
    position: absolute;
    bottom: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}
.m_nav{
    text-align: center;
}
.m_nav_title{
    margin-bottom: 15px;
}
.m_nav_title span{
    color: white;
}
.nav_title1{
    font-size: 40px;
    font-weight: 900;
}
.nav_title2{
    font-size: 15px;
    margin-left: 5px;
}
.m_nav_box{
    width: 250px;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    padding: 10px 2rem;
    font-size: 16px;
    color: #3E3A38;
    background-color: rgba(255,217,0,.6);
    border-radius: 20px;
}
.main_short{
    position: absolute;
    bottom: 7.5%;
    right: 0;
    /* transform: translate(-50%, -50%); */
    width: 700px;
    height: 100px;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.m_short_box{
    width: calc(100% / 3);
    height: 100%;
    padding: 28px;
    box-sizing: border-box;
}
.short_title{
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: rgba(255,255,255,.5);
}
.short_name{
    color: white;
    font-size: 23px;
}
.short_name:hover {
    color: #ffd001;
}
.b_r{
    border-right: 1px solid #2220204a;
}
.section2{
    width: 100%;
    height: 1000px;
}